
body{
    background-image: url("/image/bg2.jpg");
    background-repeat: no-repeat;
    background-size:auto;
    font-family: 'Montserrat', sans-serif;
}
.cointainer{
    background: rgba(255, 255, 255, 0.411);
    padding: 3em;
    margin-left: auto;
    margin-top: 150px;
    margin-right:200px;
    height: 320px;
    width: 300px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}
h2{
    font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
input{
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5000px;
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
input:hover {
    background: rgba(214, 193, 255, 0.404);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.452);
  }