/* just to check  */

/* whole website  */

* {
    padding: 0;
    margin: 0;
    font-family: 'Heebo';
}


/* Scroll bar  */

::-webkit-scrollbar {
    background: #181923;
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    /* From https://css.glass */
    background: rgba(24, 25, 35, 0.3);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb :hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

html {
    scroll-behavior: smooth;
}


/* section 1 landing page */

body .landing-page {
    position: relative;
    background: #181923;
}


/* pink eclipse-1 */

body .landing-page .eclipse-1 {
    position: relative;
}

body .landing-page .eclipse-1 .image1 {
    position: absolute;
    right: 0px;
    top: 0px;
    filter: blur(180px);
    z-index: 1;
}

body .landing-page .info {
    position: relative;
    display: flex;
    gap: 10%;
    padding: 6%;
    z-index: 1;
    /* border: beige solid 2px; */
}

body .landing-page .info .impression {
    /* border: rgb(236, 1, 1) solid 2px; */
    position: relative;
    z-index: 2;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
    padding-top: 6rem;
    bottom: 0;
    left: 0;
    color: aliceblue;
}

body .landing-page .info .impression h1 {
    color: #E2E2E5;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04rem;
}

body .landing-page .info .impression p {
    color: #D5D5DB;
    font-family: Poppins;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 0.02188rem;
}

body .landing-page .info .impression p span {
    color: #D5D5DB;
    font-family: Poppins;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.02188rem;
}

body .landing-page .info .impression button {
    position: relative;
    width: 11.625rem;
    height: 3rem;
    z-index: 3;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background: var(--Secondary, #C91151);
    border: none;
    color: #D5D5DB;
    font-size: 1.25rem;
}

body .landing-page .info .profile-pic {
    padding-top: 3.75rem;
    padding-left: 12.5rem;
    z-index: 3;
    /* border: beige solid 2px; */
}


/* eclipse 2 : blue*/

body .landing-page .info .impression .eclipse-2 {
    position: relative;
    z-index: 0;
}

body .landing-page .info .impression .eclipse-2 .image2 {
    position: absolute;
    filter: blur(180px);
    z-index: 1;
}


/* skills section  */

body .skills-section {
    position: relative;
    z-index: 1;
    padding: 6%;
}

body .skills-section .skills-container p span {
    position: relative;
    z-index: 3;
    color: #11C92E;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 200;
    letter-spacing: -0.031rem;
    line-height: normal;
    letter-spacing: 0.013rem;
}

body .skills-section .skills-container h5 {
    color: #D5D5DB;
    font-size: 1.875rem;
}

body .skills-section .skills-container h6 {
    padding: 3.125rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
    color: #D5D5DB;
}

body .skills-section .skills-container .skills-grid {
    padding-left: 2.375rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.125rem;
}

body .skills-section .skills-container .skills-grid2 {
    padding-top: 3.125rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 4.375rem;
}

body .skills-section .skills-container .skills-grid3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

body .skills-section .skills-container .skills-box {
    position: relative;
    z-index: 3;
    width: 23.75rem;
    height: 28rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #151620;
}

body .skills-section .skills-container .skills-box .skills-img {
    padding: 1.875rem 1.25rem 1.25rem 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

body .skills-section .skills-container .skills-box .skills-img-2 {
    padding: 1.875rem 1.25rem 1.25rem 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
}

body .skills-section .skills-container .skills-box .skills-img img h1 {
    background-color: #D5D5DB;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

body .skills-section .skills-container .skills-grid .skills-box h1 {
    padding-top: 0.625rem;
    color: #E2E2E5;
    text-align: center;
    font-family: Heebo;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0125rem;
}

body .skills-section .skills-container .skills-grid2 .skills-box h1 {
    padding-top: 0.625rem;
    color: #E2E2E5;
    text-align: center;
    font-family: Heebo;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0125rem;
}

body .skills-section .skills-container .skills-grid3 .skills-box h1 {
    padding-top: 0.625rem;
    color: #E2E2E5;
    text-align: center;
    font-family: Heebo;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0125rem;
}

body .skills-section .skills-container .skills-box p {
    padding-top: 1.875rem;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    color: #8A8A8F;
    text-align: center;
    font-family: Heebo;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.0125rem;
}


/* eclipse 3 : pink*/

body .landing-page .eclipse-3 {
    position: relative;
}

body .landing-page .eclipse-3 .image3 {
    position: absolute;
    right: 0px;
    top: 0px;
    filter: blur(180px);
    z-index: 1;
}


/* projects-section */

body .projects-section {
    background: #E2E2E5;
}

body .projects-section .projects {
    padding: 6rem;
}

body .projects-section .projects p span {
    color: #11C92E;
    font-family: Heebo;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.0125rem;
}

body .projects-section .projects h6 {
    padding-top: 0.25rem;
    color: #151620;
    font-family: Heebo;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02rem;
}

body .projects-section .projects .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

body .projects-section .projects .projects-grid .project-1{
    padding-top: 4rem;
    /* padding: 4rem 1rem 1rem 3rem; */
    width: 40rem;
    border-radius: 1.25rem;
    /* border: 1px solid black; */
    
}
body .projects-section .projects .projects-grid .project-1 img{
    width: 29.125rem;
    height: 19.125rem;
    flex-shrink: 0; 
    border-radius: 1.25rem;
    /* border: 1px solid black; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: transform 0.3s ease-in-out; 
}

body .projects-section .projects .projects-grid .project-1 img:hover{
    width: 29.125rem;
    height: 19.125rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    /* border: 1px solid black; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: scale(1.03);
}

body .projects-section .projects .projects-grid .project-1 h3{  
    padding-top: 1rem;
    color: #151620;
    font-family: Heebo;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.015rem;
}
body .projects-section .projects .projects-grid .project-1 p{
    width: 29.125rem;
    color: #151620;
    font-family: Heebo;
    font-size: 1rem;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 0.01rem;
}

body .projects-section .projects .projects-grid .project-2{
    padding-top: 4rem;
    /* padding: 4rem 1rem 1rem 3rem; */
    width: 40rem;
    border-radius: 1.25rem;
    /* border: 1px solid black; */
}

body .projects-section .projects .projects-grid .project-2 h3{
    padding-top: 1rem;
    font-size: 2rem;
    color: #151620;
    font-family: Heebo;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.015rem;
}

body .projects-section .projects .projects-grid .project-2 img{
    width: 29.125rem;
    height: 19.125rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    /* border: 1px solid black; */  
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: transform 0.3s ease-in-out; 
}

body .projects-section .projects .projects-grid .project-2 img:hover{
    width: 29.125rem;
    height: 19.125rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    /* border: 1px solid black; */  
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: scale(1.03); 
}

body .projects-section .projects .projects-grid .project-2 p{
    width: 29.125rem;
    color: #151620;
    font-family: Heebo;
    font-size: 1rem;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 0.01rem;
}


body .arrow-down {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0vh;
    position: relative;
}

body .arrow-down .white {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ffff;
}

body .arrow-down .white img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}


/* about me  */

body .about-me {
    background-color: #181923;
}

body .about-me .about {
    padding: 6rem;
}

body .about-me .about p span {
    color: #11C92E;
    font-family: Heebo;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.0125rem;
}

body .about-me .about h6 {
    padding-top: 2rem;
    color: #E2E2E5;
    font-family: Heebo;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02rem;
}

body .about-me .about .about-container {
    display: flex;
}

body .about-me .about .about-container p {
    padding-top: 2rem;
    width: 47rem;
    color: #F4F4F4;
    font-family: Heebo;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.0125rem;
    /* border: 1px solid black; */
}

body .about-me .about .about-container .image-container {
    padding-left: 15rem;
    border-radius: 1.25rem;
    background-color: #181923;
    display: inline-block;
    /* border: 1px solid black; */
}

body .about-me .about .about-container img {
    width: 26.9375rem;
    height: 26.6875rem;
    border-radius: inherit;
}












/* for screen Size 1358*757 */

@media (max-width: 1358px) {
    * {
        padding: 0;
        margin: 0;
        font-family: 'Heebo';
    }
    /* Scroll bar  */
     ::-webkit-scrollbar {
        background: #181923;
        width: 0.625rem;
    }
     ::-webkit-scrollbar-track {
        display: none;
    }
     ::-webkit-scrollbar-thumb {
        /* From https://css.glass */
        background: rgba(24, 25, 35, 0.3);
        border-radius: 1rem;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
     ::-webkit-scrollbar-thumb :hover {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 1rem;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    html {
        scroll-behavior: smooth;
    }
    /* section 1 landing page */
    body .landing-page {
        position: relative;
        background: #181923;
    }
    /* pink eclipse-1 */
    body .landing-page .eclipse-1 {
        position: relative;
    }
    body .landing-page .eclipse-1 .image1 {
        position: absolute;
        right: 0px;
        top: 0px;
        filter: blur(180px);
        z-index: 1;
    }
    body .landing-page .info {
        position: relative;
        display: flex;
        gap: 10%;
        padding: 6%;
        z-index: 1;
        /* border: beige solid 2px; */
    }
    body .landing-page .info .impression {
        /* border: rgb(236, 1, 1) solid 2px; */
        position: relative;
        z-index: 2;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.125rem;
        padding-top: 5.625rem;
        bottom: 0;
        left: 0;
        color: aliceblue;
    }
    body .landing-page .info .impression h1 {
        color: #E2E2E5;
        font-size: 3.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.04rem;
    }
    body .landing-page .info .impression p {
        color: #D5D5DB;
        font-family: Poppins;
        font-size: 1.563rem;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        letter-spacing: 0.02188rem;
    }
    body .landing-page .info .impression p span {
        color: #D5D5DB;
        font-family: Poppins;
        font-size: 1.563rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.02188rem;
    }
    body .landing-page .info .impression button {
        position: relative;
        width: 10rem;
        height: 3rem;
        z-index: 3;
        flex-shrink: 0;
        border-radius: 0.625rem;
        background: var(--Secondary, #C91151);
        border: none;
        color: #D5D5DB;
        font-size: 1rem;
    }
    body .landing-page .info .profile-pic {
        padding-top: 3.75rem;
        padding-left: 12.5rem;
        z-index: 3;
        /* border: beige solid 2px; */
    }
    /* eclipse 2 : blue*/
    body .landing-page .info .impression .eclipse-2 {
        position: relative;
        z-index: 0;
    }
    body .landing-page .info .impression .eclipse-2 .image2 {
        position: absolute;
        filter: blur(180px);
        z-index: 1;
    }
    /* skills section  */
    body .skills-section {
        position: relative;
        z-index: 1;
        padding: 6%;
    }
    body .skills-section .skills-container p span {
        position: relative;
        z-index: 3;
        color: #11C92E;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 200;
        letter-spacing: -0.031rem;
        line-height: normal;
        letter-spacing: 0.013rem;
    }
    body .skills-section .skills-container h5 {
        color: #D5D5DB;
        font-size: 1.75rem;
    }
    body .skills-section .skills-container h6 {
        padding: 3.125rem;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 300;
        color: #D5D5DB;
    }
    body .skills-section .skills-container .skills-grid {
        padding-left: 2.375rem;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 3.125rem;
    }
    body .skills-section .skills-container .skills-grid2 {
        padding-top: 3.125rem;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        gap: 1.5rem;
    }
    body .skills-section .skills-container .skills-grid3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body .skills-section .skills-container .skills-box {
        position: relative;
        z-index: 3;
        width: 22.5rem;
        height: 28.375rem;
        flex-shrink: 0;
        border-radius: 1.25rem;
        background: #151620;
    }
    body .skills-section .skills-container .skills-box .skills-img {
        padding: 1.875rem 1.25rem 1.25rem 0.625rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    body .skills-section .skills-container .skills-box .skills-img-2 {
        padding: 1.875rem 1.25rem 1.25rem 0.625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;
    }
    body .skills-section .skills-container .skills-box .skills-img img h1 {
        background-color: #D5D5DB;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
    }
    body .skills-section .skills-container .skills-grid .skills-box h1 {
        padding-top: 0.625rem;
        color: #E2E2E5;
        text-align: center;
        font-family: Heebo;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.0125rem;
    }
    body .skills-section .skills-container .skills-grid2 .skills-box h1 {
        padding-top: 0.625rem;
        color: #E2E2E5;
        text-align: center;
        font-family: Heebo;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.0125rem;
    }
    body .skills-section .skills-container .skills-grid3 .skills-box h1 {
        padding-top: 0.625rem;
        color: #E2E2E5;
        text-align: center;
        font-family: Heebo;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.0125rem;
    }
    body .skills-section .skills-container .skills-box p {
        padding-top: 1.875rem;
        margin-left: 3.125rem;
        margin-right: 3.125rem;
        color: #8A8A8F;
        text-align: center;
        font-family: Heebo;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.0125rem;
    }
    /* eclipse 3 : pink*/
    body .landing-page .eclipse-3 {
        position: relative;
    }
    body .landing-page .eclipse-3 .image3 {
        position: absolute;
        right: 0px;
        top: 0px;
        filter: blur(180px);
        z-index: 1;
    }
    /* projects-section */
    body .projects-section {
        background: #E2E2E5;
    }
    body .projects-section .projects {
        padding: 6rem;
    }
    body .projects-section .projects p span {
        color: #11C92E;
        font-family: Heebo;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.0125rem;
    }
    body .projects-section .projects h6 {
        color: #151620;
        font-family: Heebo;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.02rem;
    }
    body .arrow-down {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0vh;
        position: relative;
    }
    body .arrow-down .white {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #ffff;
    }
    body .arrow-down .white img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
    }
    /* about me  */
    body .about-me {
        background-color: #181923;
    }
    body .about-me .about {
        padding: 6rem;
    }
    body .about-me .about p span {
        color: #11C92E;
        font-family: Heebo;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.0125rem;
    }
    body .about-me .about h6 {
        color: #E2E2E5;
        font-family: Heebo;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.02rem;
    }
    body .about-me .about .about-container {
        display: flex;
        
    }
    body .about-me .about .about-container p {
        padding-top: 1.75rem;
        width: 37.5rem;
        color: #F4F4F4;
        font-family: Heebo;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.0125rem;
        /* border: 1px solid white; */
    }
    body .about-me .about .about-container .image-container {
        padding-top: 1.75rem;
        padding-left: 11rem;
        border-radius: 1.25rem;
        background-color: #181923;
        display: inline-block;
    }
    body .about-me .about .about-container img {
        width: 26.9375rem;
        height: 26.6875rem;
        border-radius: inherit;
    }
}
