@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    scroll-behavior: smooth;
}

#cursor {
    position: absolute;
    z-index: 10;
    width: 20px;
    height: 20px;
    border: rgba(255, 255, 255, 0.541) solid 15px;
    box-sizing: border-box;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
}

#cursor-dot {
    position: absolute;
    z-index: 10;
    width: 50px;
    height: 50px;
    border: rgb(0, 0, 0) solid 2px;
    box-sizing: border-box;
    transition: 0.4s;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(41, 41, 41);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(8, 8, 8, 0.219);
    z-index: 10;
    cursor: none;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 1rem;
}

nav ul li a {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #2b2a29;
    cursor: none;
}

nav .logo {
    padding: 0px 0px 0px 20px;
}

nav .logo .icon {
    width: 50px;
}

#main-page-slider {
    width: 100%;
    height: 20%;
}

#slider {
    overflow: hidden;
}

#slider .imgm {
    height: 50%;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 20%;
    float: left;
    cursor: none;
}

nav a {
    cursor: none;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

#about .head {
    padding-top: 5%;
    color: #191A19;
    font-weight: bold;
    font-size: 300%;
    text-align: center;
    text-shadow: 2px 2px 5px grey;
    text-shadow: 2px 2px 2px rgb(97, 97, 97);
}

.about {
    outline: #000 1px solid;
    border-radius: 10px;
    margin: 2%;
    padding: 5%;
}

.projects {
    background-color: rgb(223, 223, 223);
    text-align: center;
}

.projects .cont1,
.cont2,
.cont3 {
    padding: 10px;
    text-align: center;
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.projects .cont1 :hover,
.cont2 :hover,
.cont3 :hover {
    transform: scale(1.1);
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.class_edit,
.edit_record,
.edit_script {
    padding: 5px;
    text-align: center;
}

.grid {
    display: flex;
    gap: 5px;
}

.response {
    max-width: 100%;
}

#videos {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #ffffff;
    text-align: center;
}

.videos {
    display: flex;
    justify-content: space-between;
}

video {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.videos .vid1,
.vid2,
.vid3 {
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-left: 2%;
    height: 100%;
    width: 100%;
    background-color: #4e4e4e;
}

.videos .vid1:hover,
.vid2:hover,
.vid3:hover {
    transform: scale(1.1);
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/*
    Our team
*/

#our-team {
    text-align: center;
}

.team {
    display: flex;
    justify-content: space-between;
}

.team .mate {
    outline: #000 1px solid;
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 100px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.team .mate .photo img {
    z-index: -1;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    width: 70%;
    height: 70%;
}


/* contact us   */

.contact {
    display: flex;
}

.contact .address {
    overflow: hidden;
    margin-top: 30px;
    position: relative;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.contact .form {
    margin-top: 30px;
    background-color: rgb(167, 167, 167);
    padding-left: 2rem;
    width: 50%;
}


/*footer
*/

footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}